* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    height: 100px;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav>h1 {
    color: aliceblue;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}

nav .nav-links {
    display: flex;
    gap: 15px;
}

.pai {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
}

pre {
    font-size: 30px;
}

.sobremim {
    margin: 20px;
    font-size: 20px;
    width: 100%;
    height: 780px;
    background-color: rgb(255, 221, 189);
    border-radius: 30px;
}

.foto {
    width: 40%;
    height: 780px;
    margin: 20px;
    background-color: rgb(255, 221, 189);
    border-radius: 30px;
}

.fotao {
    height: 480px;
    border-radius: 30px;
    margin: 40px;
}

.insta {
    height: 30px;
    

}

.comida {
    background-color: rgb(255, 221, 189);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.doce {
    background-color: rgb(255, 221, 189);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.livro {
    background-color: rgb(255, 221, 189);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linka {
    background-color: rgb(255, 221, 189);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.video {
    background-color: rgb(255, 221, 189);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.linkhover:hover {
    color: goldenrod;
}

.horario {
    background-color: rgb(255, 221, 189);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.itens {
    width: 400px;
    height: 250px;
    border-radius: 15px;

}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 20px;
}

footer {
    background-color: rgb(36, 36, 36);
    color: rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}